

.container{
    background-image: url(/image/pexels-cottonbro-studio-4686833.jpg);
    width: 100%;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}